@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  transition: .3s;
}

.container {
    
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 0;
  
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

img{
  max-width: 100%;
}

.btn-border-gradient{
  border-radius: 32.5px;
  border: 2px solid #d7d7d7;
  padding: 10px 10px;
}
@media(max-width: '765px'){
  .btn-border-gradient{
  padding: 5px 20px;

  }
}
.btn-border-gradient:hover{
 border:2px solid #FC6539;
 color: #FC6539;
}
/* NavBar */
.nav{
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
}
.mainBtn{
 text-align: center;
 padding: 17px 27px;
 border-radius: 30px;
 font-weight: 500;
 font-size: 16px;
 position: relative;
 transition: .3s;
 cursor: pointer;
 overflow: hidden;
}
.mainBtnBlack{
  border: 2px solid ;
  text-align: center;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  transition: .3s;
  cursor: pointer;
  width: fit-content;
 }
 .mainBtnBlack:hover{
  border-color: #fea444;
  border:2px solid ;
    color: #fff;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: #FEA444;
    background: linear-gradient(to right, #FEA444 0%, #FC6539 100%);
 }
.mainBtn::before{
  background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    bottom: -40px;
    content: "";
    height: 65px;
    left: -27px;
    position: absolute;
    width: 65px;
    z-index: 1;
    transition: .6s;
}
.mainBtn::after{
  background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    content: "";
    height: 65px;
    position: absolute;
    right: -27px;
    top: -40px;
    width: 65px;
    z-index: 1;
    transition: .6s;
}
.mainBtn:hover::after{
 top: 0;
 right: 0;
 width: 100%;
 height: 100%;
 opacity: 0;
}
.mainBtn:hover::before{
 opacity: 0;
  width: 200px;
 height: 200px;
 
 }
 @media((max-width: 991px)){
  .mainBtn,
  .mainBtnBlack{
    padding: 10px 20px;
  }

 }
.btn-gradient {
  background: #FEA444;
  background: linear-gradient(to right, #FEA444 0%, #FC6539 100%);
}
.menu .active{
 color: #fff;
 
}
.menu .active::before{
  background-image: url('./assets/img/menu-shape.webp');
  background-repeat: no-repeat;
  background-position: 45% 15%;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  min-width: 120px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

/* hero section */
.hero{
  
  margin-top:100px ;
  height: 600px;
  padding-top: 145px ;
  padding-bottom: 40px;
  height: 100%;
}
.hero::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(./assets/img/map2.png);
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: -12;
}
.hero h3 {
  color:  #FC6539 ;
}
.hero h2{
  font-family: "Yeseva One", cursive;
  line-height: 1.2;
}

.hero h2 span{
  background-image: url('./assets/img/banner-title-shape.webp');
  font-family: "Yeseva One", cursive;
  position: relative;
}

.hero .bull {
  border: 1px solid #FC6539;
  border-radius: 50%;
  width: 443px;
  height: 421px;
  position: relative;
  z-index: 10;
}

.hero .bulls .heroPic{
  border-radius: 50%;
  width: 443px;
  height: 421px;
  position: absolute;
  top: 35px;
  left: -30px;
  z-index: 1;
}
.hero .bulls .shapeOne{
  width: 163px;
  height: 163px;
position: absolute;
top: -80px;
right: 20px;
}
.donate-circle-wrp{
  z-index: 12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: -39px;
    border-radius: 50%;
    height: 340px;
    left: -230px;
    padding: 43px;
    position: absolute;
    width: 340px;
    background: #FEA444;
    background-image: -ms-linear-gradient(-30deg, #fc6539 0%, #fea444 100%);
    background: linear-gradient(-30deg, #fc6539 0%, #fea444 100%);
}

.donate-circle-wrp .donate-content{
  border-radius: 50%;
    color: #fff;
    display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.donate-circle-wrp .donate-content .raised-amount {
  font-family: "Yeseva One", cursive;
  font-size: 50px;
  line-height: 1;
  margin-bottom: 12px;

}
.donate-circle-wrp .donate-content .line-shape-img {
  margin-bottom: 13px;
 
}
.donate-circle-wrp .donate-content .donate-title {
  color: #fff;
  font-size: 20px;
  margin: 0;
}

.donate-content::after{
content: "";
height: 255px;
width: 255px;
border-radius: 50%;
position: absolute;

border:10px solid #b37d7d7c;
}
.donate-circle-wrp .donate-content::before{
  content: "";
height: 255px;
width: 255px;
border-radius: 50%;
z-index: 1;
position: absolute;
border:10px solid #b37d7d7c;
animation: heroAnimate .3s 1 .3s linear forwards;
}

@keyframes heroAnimate {
 
  0%{
    border-top:10px solid #fff;
  }
  50%{
    border-top:10px solid #fff;
  }
  100% {
    border-top:10px solid #fff;
    border-right:10px solid #fff;
    border-bottom:10px solid #fff;
  }
}


/* services */

.services ul{
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.services ul li:nth-child(1){
  background-color:#fc6539;;
}
.services ul li:nth-child(2){
  background-color:#001d23;;
}
.services ul li:nth-child(3){
  background-color:#fea444;;
}

/* about */

.Yeseva{
  font-family: "Yeseva One", cursive;
  line-height: 1.4;
}


.borderLfet{
  border-left: 5px solid #FEA444 ;
}

.subtitle {
  color: #fc6539;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 12px;
  padding-left: 64px;
  position: relative;
}

.subtitle::after{
  content: "";
  background-color: #FC6539;
    height: 3px;
    left: 0;
    position: absolute;
    top: calc(50% - 1.5px);
    width: 43px;

}

/* causes */

 .shape{
  margin-top: 39px;
    position: relative;
    z-index: 1;
}

 .shape .img-shape{
  left: 40%;
    position: absolute;
    top: -10%;
    z-index: -1;
}

.causes ul{
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
  gap: 20px;
}
.causes ul li {
  margin-left: auto;
  margin-right: auto;
}

/* DonateArea */

.donateArea .donate-form {
  position: relative;
  z-index: 0;
}


 .amount-info {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.donate-custom-amount .form-control {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  height: 58px;
  padding: 2px 0px;
  text-align: center;
  width: 100%;
}

.donate-amount.donate-custom-amount {
  max-width: 180px;
  min-width: 180px;
  margin-right: 0;
}

.donate-amount {
  border: 2px solid #203438;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 58px;
  line-height: 58px;
  margin-right: 20px;
  min-width: 95px;
  text-align: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.donate-custom-amount {
  max-width: 180px;
  min-width: 180px;
  margin-right: 0;
}
.donate-amount.active {
  border-color: #fc6539;
  cursor: pointer;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}
.donate-amount:hover{
  border: 1px solid #FC6539;
}



/* funFact */
.funFact .item{
  
  border-left: 1px solid #eaecec;
}

.funFact .item:last-child{
  
  border-left: 1px solid #eaecec;
  border-right: 1px solid #eaecec;
}

@media(max-width: 1021px){
  .funFact .item{
  
    border-top: 2px solid #eaecec;
  }
}

/* event */

.event .thumb {
  min-width: 240px;
  overflow: hidden;
  position: relative;
}
.eventitem:hover .btn-theme{
opacity: 1;
}
.event .btn-theme {
  
  position: absolute;
  left: 25%;
  top: 34%;
  opacity: 0;
  position: absolute;
  background-color: #FC6539;
  padding: 10px 15px;
  border-radius: 30px ;
  
}
.wave-btn span {
  background: #f6dec9;
  border-radius: 50%;
  height: 200px;
  left: -50px;
  position: absolute;
  top: -50px;
  width: 200px;
}
.wave-btn span:nth-child(1) {
  background: #fc6539;
  animation: wave-button 2s infinite 0.1s linear backwards;
}
.wave-btn span:nth-child(2) {
  background: #fea444;
  animation: wave-button 3s infinite 0.5s linear backwards;
}
.wave-btn span:nth-child(3) {
  animation: wave-button 4s infinite 1s linear backwards;
  background: #FEA444;
  background: linear-gradient(to right, #FEA444 0%, #FC6539 100%);
}

.play-video-btn .icon {
  display: flex;
    justify-content: center;
    align-items: center;
  border-radius: 50%;
  height: 100px;
  line-height: 100px;
  position: relative;
  text-align: center;
  width: 100px;
  z-index: 1;
  background: #FEA444;
  background: linear-gradient(to right, #FEA444 0%, #FC6539 100%);
}


@keyframes wave-button {
  0% {
    opacity: 1;
    transform: scale(0.3);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.6);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.event .eventVideo{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #000000c4;
  padding: 0 40px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.event .eventVideo .iconVideo{
  position: absolute;
  top: 150px;
  right: 30px;
  color: white;
  background-color: #203438;
  padding: 5px 10px;
  cursor: pointer;
}

.fancybox-iframe, .fancybox-video {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

/* Testimonial */

.testimonialBg{
  background-image: url('../src/assets/img/bg-testi1.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: #df4618d8;
  color: white;
  position: relative;
}
.testimonialBg h2{
  color: white;
}
.testimonialBg h2::after{
background-color: white;
}


.testimonialBg::after{
  background-color: #fea444;
  content: "";
    height: 100%;
    left: 0;
    opacity: 0.902;
    position: absolute;
    top: 0;
    width: 100%;
}

.backorage{
  z-index: 1;
}

 .swiper-button-prev {
  border: 2px solid #283e42;
  border-radius: 50%;
  
  display: flex;
  font-size: 20px;
  height: 60px;
  justify-content: center;
  align-items: center;
  width: 60px;
  color: #FC6539;
  cursor: pointer;
}
 .swiper-button-prev:hover {
  background-color: #283e42;
}


/* blog */

.blog .posts .container{
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
  gap: 20px;
}


.blog .posts .blogCard{
 height: 400px;
 display: flex;
 justify-content: center;
 height: 500px;
}
.blog .posts .blogCard .smallCard{
  position: absolute;
  top: 60%;
  background-color: #f7f7f7;
    padding: 29px 34px 24px;
    width: 320px;
    transition: .3s;
}
.blog .posts .blogCard:hover .smallCard  {
top: 30%
 }

.blog .posts .blogCard:hover img  {
  transform: scale(1.1);
   }


/* brand */

.brand{
  padding: 109px 0 339px;
}
.brand .brandUl{
  display: grid;
  max-width: 620px;
  grid-template-columns: repeat(auto-fill, minmax(83px, 90px));
  gap: 20px;
  justify-content: center;
}

@media(min-width: 768px){
 .brand .img-shape {
    left: 16%;
    position: absolute;
    top: -4%;
    z-index: -1;
}
}

/* footer */

.footer-area{
  background-color: #001d23;
    padding: 0 15px 33px;
    position: relative;
}
.footer-area .footer-main {
  background-color: #f7f7f7;
  margin: 0px auto -175px;
  max-width: 1555px;
  padding: 152px 0 80px;
  position: relative;
  z-index: 1;
  transform: translate(0, -240px);
  -webkit-transform: translate(0, -240px);
  -moz-transform: translate(0, -240px);
  -ms-transform: translate(0, -240px);
  -o-transform: translate(0, -240px);
}
.footer-area .footer{
  display: grid;
  max-width: 1300px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 370px));
  gap: 20px;
}

.footer-area .footer .nav-menu li{
  margin-bottom: 12px ;
  color: #777;
}
.footer-area  .nav-menu li a {
  color: #001d23;
  display: inline-block;
  position: relative;
}
.footer-area  .nav-menu li a:after {
  background-color: #fc6539;
  bottom: -2px;
  content: "";
  display: inline-block;
  height: 1px;
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 0;
  transition: .3s;
}
.footer-area .nav-menu li a:hover {
  color: #fc6539;
  
}
.footer-area .nav-menu li a:hover::after {
  width: 100%;
  
}

.footer-area .shape-layer {
  bottom: 0;
  left: 5%;
  pointer-events: none;
  position: absolute;
}

